[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/phpSyntax"]
	path = bundle/phpSyntax
	url = https://github.com/sybil63/phpVim
[submodule "bundle/phpcomplete"]
	path = bundle/phpcomplete
	url = https://github.com/shawncplus/phpcomplete.vim
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai
